<div class="section-space-home"></div>

<div class="col-md-12 change-background-web-page">

    <div class="col-sm-1 col-md-1">

    </div>

    <!--phan tin tuc chinh-->
    <div *ngIf="!isLoadingTinChinh()" infinite-scroll class="col-sm-7 col-md-7" (scrolled)="showMore()"
         [infiniteScrollDistance]="1">

        <!--phan 7 card tin tuc chinh tren trang chu-->
        <div class="col-md-12 nopadding" style="background: #fff">
            <div class="col-md-8 fake-cusor">

                <app-news-card [image]="getTinChinhNewsImage(getTinChinhNews2(0))" [news]="getTinChinhNews2(0)"
                               [now]="now">
                </app-news-card>

            </div>
            <div class="col-md-4">

                <app-news-card-2 [image]="getTinChinhNewsImage(getTinChinhNews2(1))" [news]="getTinChinhNews2(1)"
                                 [now]="now">
                </app-news-card-2>

            </div>
            <div class="col-md-4">

                <app-news-card-2 [image]="getTinChinhNewsImage(getTinChinhNews2(2))" [news]="getTinChinhNews2(2)"
                                 [now]="now">
                </app-news-card-2>

            </div>
        </div>

        <div class="col-md-4">

            <app-news-card-3 [image]="getTinChinhNewsImage(getTinChinhNews2(3))" [news]="getTinChinhNews2(3)"
                             [now]="now">
            </app-news-card-3>

        </div>

        <div class="col-md-4">

            <app-news-card-3 [image]="getTinChinhNewsImage(getTinChinhNews2(4))" [news]="getTinChinhNews2(4)"
                             [now]="now">
            </app-news-card-3>

        </div>

        <div class="col-md-4">

            <app-news-card-3 [image]="getTinChinhNewsImage(getTinChinhNews2(5))" [news]="getTinChinhNews2(5)"
                             [now]="now">
            </app-news-card-3>

        </div>

        <!--end:phan 7 card tin tuc chinh tren trang chu-->

        <ng-container *ngFor="let news of getTinChinhNewsList(); let newsIndex = index">

            <ng-container *ngIf="(newsIndex % 10 < 6)">
                <hr class="col-md-12"/>

                <app-news-card-4 [image]="getTinChinhNewsImage(news)" [news]="news" [now]="now">
                </app-news-card-4>
            </ng-container>

            <ng-container *ngIf="(newsIndex % 10 >= 6)">

                <app-news-card-5 [image]="getTinChinhNewsImage(news)" [news]="news" [now]="now">
                </app-news-card-5>

            </ng-container>

        </ng-container>

    </div>
    <!--phan tin tuc chinh:end-->

    <!--phan loading cho tin chinh-->
    <div *ngIf="isLoadingTinChinh()" class="col-sm-7 col-md-7">

        <div class="col-md-12 nopadding" style="background: #fff">

            <div class="col-md-8 fake-cusor">
                <app-news-loading-card></app-news-loading-card>
            </div>

            <div class="col-md-4">
                <app-news-loading-card-2></app-news-loading-card-2>
            </div>

            <div class="col-md-4">
                <app-news-loading-card-2></app-news-loading-card-2>
            </div>

            <div class="col-md-4">
                <app-news-loading-card-3></app-news-loading-card-3>
            </div>

            <div class="col-md-4">
                <app-news-loading-card-3></app-news-loading-card-3>
            </div>

            <div class="col-md-4">
                <app-news-loading-card-3></app-news-loading-card-3>
            </div>

            <hr class="col-md-12"/>

            <app-news-loading-card-4></app-news-loading-card-4>

            <hr class="col-md-12"/>

            <app-news-loading-card-4></app-news-loading-card-4>

        </div>
    </div>
    <!--phan loading cho tin chinh:end-->

    <div class="col-sm-3 col-md-3 border-radius-fix" style="background: #fff">

        <div class="col-md-12" style="margin-top: 8px;">
            <ul class="nav nav-pills nav-pills-square">
                <li class="active">
                    <a href="#pill1" data-toggle="tab">Tin mới</a>
                </li>
                <li>
                    <a href="#pill2" data-toggle="tab">Tin nóng</a>
                </li>
            </ul>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="pill1">
                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row ">
                            <div class="col-md-3">
                                <div class="">
                                    <div class="animationLoading img-flash-link">
                                        <div id="container">
                                            <div id="one"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div id="four" style="height: 10px; top: 5px;"></div>
                                <div id="five" style="height: 10px; top: 10px;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row ">
                            <div class="col-md-3">
                                <div class="">
                                    <a href="#pablo ">
                                        <img class="img-rounded img-responsive img-flash-link" alt="Rounded Image"
                                             src="https://baomoi-photo-2-td.zadn.vn/w300_r3x2/18/06/19/7/26571520/1_21300.jpg"
                                             width="500" height="400">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="card-title no-margin no-uppercase">
                                    <a href="#pablo ">'Trùm' khoáng sản TKV báo lãi 2017 tăng gấp 3 lần lên 3.000 tỷ,
                                        tổng nợ gần 100.000 tỷ</a>
                                </h6>
                                <div>
                                    <a class="source-news" href="/bao-thanh-nien-thanh-nien/p/19.epi ">

                                        Báo mới
                                    </a>

                                    <span class="time-news-title"
                                          datetime="2018-06-17T17:07:10.000+07:00 ">10 phút</span>


                                    <a class="relate-news" href="/tin-lien-quan/t/6458801.epi ">1 liên quan</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row ">
                            <div class="col-md-3">
                                <div class="card-image">
                                    <a href="#pablo ">
                                        <img class="img-rounded img-responsive img-flash-link" alt="Rounded Image"
                                             src="https://www.gannett-cdn.com/-mm-/5494bd34e43fd11e356a584b68d087ad53524129/c=607-0-5587-3744&r=x404&c=534x401/local/-/media/2018/06/13/USATODAY/USATODAY/636645111678692526-XXX-IMG-1-SPACE-NEEDLE-ON-TH-1-1-VTM2KRS2.JPG"
                                             width="500" height="400">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="card-title no-margin no-uppercase">
                                    <a href="#pablo ">Nghịch lý giá cổ phiếu “vua”</a>
                                </h6>
                                <div>
                                    <a class="source-news" href="/bao-thanh-nien-thanh-nien/p/19.epi ">

                                        Dân trí
                                    </a>

                                    <span class="time-news-title"
                                          datetime="2018-06-17T17:07:10.000+07:00 ">10 phút</span>


                                    <a class="relate-news" href="/tin-lien-quan/t/6458801.epi ">1 liên quan</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row ">
                            <div class="col-md-3">
                                <div class="card-image">
                                    <a href="#pablo ">
                                        <img class="img-rounded img-responsive img-flash-link" alt="Rounded Image"
                                             src="https://media.laodong.vn/Storage/NewsPortal/2018/6/18/613661/977885804.jpg?w=888&h=592&crop=auto&scale=both"
                                             width="500" height="400">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="card-title no-margin no-uppercase">
                                    <a href="#pablo ">'Trùm' khoáng sản TKV báo lãi 2017 tăng gấp 3 lần lên 3.000 tỷ,
                                        tổng nợ gần 100.000 tỷ</a>
                                </h6>
                                <div>
                                    <a class="source-news" href="/bao-thanh-nien-thanh-nien/p/19.epi ">

                                        Người đưa tin
                                    </a>

                                    <span class="time-news-title"
                                          datetime="2018-06-17T17:07:10.000+07:00 ">10 phút</span>


                                    <a class="relate-news" href="/tin-lien-quan/t/6458801.epi ">1 liên quan</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row ">
                            <div class="col-md-3">
                                <div class="card-image">
                                    <a href="#pablo ">
                                        <img class="img-rounded img-responsive img-flash-link" alt="Rounded Image"
                                             src="https://baomoi-photo-2-td.zadn.vn/w300_r3x2/18/06/18/61/26571259/2_103265.jpg"
                                             width="500" height="400">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="card-title no-margin no-uppercase">
                                    <a href="#pablo ">Sau 5 năm 'quy ẩn', bà Đặng Thị Hoàng Yến có trở lại Tân Tạo?</a>
                                </h6>
                                <div>
                                    <a class="source-news" href="/bao-thanh-nien-thanh-nien/p/19.epi ">

                                        VOV
                                    </a>

                                    <span class="time-news-title"
                                          datetime="2018-06-17T17:07:10.000+07:00 ">10 phút</span>


                                    <a class="relate-news" href="/tin-lien-quan/t/6458801.epi ">1 liên quan</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row ">
                            <div class="col-md-3">
                                <div class="card-image">
                                    <a href="#pablo ">
                                        <img class="img-rounded img-responsive img-flash-link" alt="Rounded Image"
                                             src="https://baomoi-photo-2-td.zadn.vn/w300_r3x2/18/06/19/7/26571520/1_21300.jpg"
                                             width="500" height="400">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="card-title no-margin no-uppercase">
                                    <a href="#pablo ">'Trùm' khoáng sản TKV báo lãi 2017 tăng gấp 3 lần lên 3.000 tỷ,
                                        tổng nợ gần 100.000 tỷ</a>
                                </h6>
                                <div>
                                    <a class="source-news" href="/bao-thanh-nien-thanh-nien/p/19.epi ">

                                        Báo mới
                                    </a>

                                    <span class="time-news-title"
                                          datetime="2018-06-17T17:07:10.000+07:00 ">10 phút</span>


                                    <a class="relate-news" href="/tin-lien-quan/t/6458801.epi ">1 liên quan</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="pill2">
                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row ">
                            <div class="col-md-3">
                                <div class="card-image">
                                    <a href="#pablo ">
                                        <img class="img-rounded img-responsive img-flash-link" alt="Rounded Image"
                                             src="https://media.laodong.vn/Storage/NewsPortal/2018/6/18/613661/977885804.jpg?w=888&h=592&crop=auto&scale=both"
                                             width="500" height="400">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="card-title no-margin no-uppercase">
                                    <a href="#pablo ">'Trùm' khoáng sản TKV báo lãi 2017 tăng gấp 3 lần lên 3.000 tỷ,
                                        tổng nợ gần 100.000 tỷ</a>
                                </h6>
                                <div>
                                    <a class="source-news" href="/bao-thanh-nien-thanh-nien/p/19.epi ">

                                        Người đưa tin
                                    </a>

                                    <span class="time-news-title"
                                          datetime="2018-06-17T17:07:10.000+07:00 ">10 phút</span>


                                    <a class="relate-news" href="/tin-lien-quan/t/6458801.epi ">1 liên quan</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row ">
                            <div class="col-md-3">
                                <div class="card-image">
                                    <a href="#pablo ">
                                        <img class="img-rounded img-responsive img-flash-link" alt="Rounded Image"
                                             src="https://baomoi-photo-2-td.zadn.vn/w300_r3x2/18/06/18/61/26571259/2_103265.jpg"
                                             width="500" height="400">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="card-title no-margin no-uppercase">
                                    <a href="#pablo ">Sau 5 năm 'quy ẩn', bà Đặng Thị Hoàng Yến có trở lại Tân Tạo?</a>
                                </h6>
                                <div>
                                    <a class="source-news" href="/bao-thanh-nien-thanh-nien/p/19.epi ">

                                        VOV
                                    </a>

                                    <span class="time-news-title"
                                          datetime="2018-06-17T17:07:10.000+07:00 ">10 phút</span>


                                    <a class="relate-news" href="/tin-lien-quan/t/6458801.epi ">1 liên quan</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row ">
                            <div class="col-md-3">
                                <div class="card-image">
                                    <a href="#pablo ">
                                        <img class="img-rounded img-responsive img-flash-link" alt="Rounded Image"
                                             src="https://baomoi-photo-2-td.zadn.vn/w300_r3x2/18/06/19/7/26571520/1_21300.jpg"
                                             width="500" height="400">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="card-title no-margin no-uppercase">
                                    <a href="#pablo ">'Trùm' khoáng sản TKV báo lãi 2017 tăng gấp 3 lần lên 3.000 tỷ,
                                        tổng nợ gần 100.000 tỷ</a>
                                </h6>
                                <div>
                                    <a class="source-news" href="/bao-thanh-nien-thanh-nien/p/19.epi ">

                                        Báo mới
                                    </a>

                                    <span class="time-news-title"
                                          datetime="2018-06-17T17:07:10.000+07:00 ">10 phút</span>


                                    <a class="relate-news" href="/tin-lien-quan/t/6458801.epi ">1 liên quan</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row ">
                            <div class="col-md-3">
                                <div class="card-image">
                                    <a href="#pablo ">
                                        <img class="img-rounded img-responsive img-flash-link" alt="Rounded Image"
                                             src="https://www.gannett-cdn.com/-mm-/5494bd34e43fd11e356a584b68d087ad53524129/c=607-0-5587-3744&r=x404&c=534x401/local/-/media/2018/06/13/USATODAY/USATODAY/636645111678692526-XXX-IMG-1-SPACE-NEEDLE-ON-TH-1-1-VTM2KRS2.JPG"
                                             width="500" height="400">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="card-title no-margin no-uppercase">
                                    <a href="#pablo ">Nghịch lý giá cổ phiếu “vua”</a>
                                </h6>
                                <div>
                                    <a class="source-news" href="/bao-thanh-nien-thanh-nien/p/19.epi ">

                                        Dân trí
                                    </a>

                                    <span class="time-news-title"
                                          datetime="2018-06-17T17:07:10.000+07:00 ">10 phút</span>


                                    <a class="relate-news" href="/tin-lien-quan/t/6458801.epi ">1 liên quan</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row ">
                            <div class="col-md-3">
                                <div class="card-image">
                                    <a href="#pablo ">
                                        <img class="img-rounded img-responsive img-flash-link" alt="Rounded Image"
                                             src="https://media.laodong.vn/Storage/NewsPortal/2018/6/18/613661/977885804.jpg?w=888&h=592&crop=auto&scale=both"
                                             width="500" height="400">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="card-title no-margin no-uppercase">
                                    <a href="#pablo ">'Trùm' khoáng sản TKV báo lãi 2017 tăng gấp 3 lần lên 3.000 tỷ,
                                        tổng nợ gần 100.000 tỷ</a>
                                </h6>
                                <div>
                                    <a class="source-news" href="/bao-thanh-nien-thanh-nien/p/19.epi ">

                                        Người đưa tin
                                    </a>

                                    <span class="time-news-title"
                                          datetime="2018-06-17T17:07:10.000+07:00 ">10 phút</span>


                                    <a class="relate-news" href="/tin-lien-quan/t/6458801.epi ">1 liên quan</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <hr class="col-md-12"/>

        <h5 style="font-weight: bold;margin-bottom: 0px;">Thời sự</h5>

        <hr class="col-md-12"/>

        <ng-container *ngFor="let news of getThoiSuNewsList();">
            <app-news-card-6 [image]="getThoiSuNewsImage(news)" [news]="news" [now]="now">
            </app-news-card-6>
        </ng-container>

        <hr class="col-md-12"/>

        <h5 style="font-weight: bold;margin-bottom: 0px;">Video</h5>

        <hr class="col-md-12"/>

        <ng-container *ngFor="let news of getThoiSuNewsList();">
            <app-news-card-video-small [image]="getThoiSuNewsImage(news)" [news]="news" [now]="now">
            </app-news-card-video-small>
        </ng-container>

        <hr class="col-md-12"/>

        <div class="col-md-12 nopadding">
            <ul class="nav nav-pills nav-pills-warning">
                <li class="active">
                    <a href="#pillThoiTiet" data-toggle="tab">Thời tiết</a>
                </li>
                <li>
                    <a href="#pillGiaVang" data-toggle="tab">Giá vàng</a>
                </li>
                <li>
                    <a href="#pillSoSo" data-toggle="tab">Sổ số</a>
                </li>
            </ul>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="pillThoiTiet">
                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row ">
                            Thông tin thời tiết
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="pillGiaVang">
                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row">
                            <div class="col-sm-12">
                                Vàng SJC 1L->10L 36,710-30 36,890-30 Nhẫn 9999 1c->5c 35,740-100 36,140-100 Vàng nữ
                                trang 9999 35,390-100 36,090-100 Vàng
                                nữ trang 24K 34,933-99 35,733-99 Vàng nữ trang 18K 25,820-75 27,220-75 Vàng nữ trang 14K
                                19,793-58 21,193-58 Vàng
                                nữ trang 10K 13,801-42 15,201-42
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="pillSoSo">
                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <div class="row ">
                            So so 3 mien
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="col-md-12"/>

    </div>
    <div class="col-sm-1 col-md-1">
    </div>
</div>
