<div class="section-space-home"></div>

<div class="col-md-12 change-background-web-page">

    <div class="col-sm-1 col-md-1">

    </div>

    <!--phan tin tuc chinh-->
    <div *ngIf="!isLoadingTinChinh()" infinite-scroll class="col-sm-7 col-md-7" (scrolled)="showMore()"
         [infiniteScrollDistance]="1">

        <!--phan 7 card tin tuc chinh tren trang chu-->
        <div class="col-md-12 nopadding" style="background: #fff">
            <div class="col-md-8 fake-cusor">

                <app-news-card [image]="getTinChinhNewsImage(getTinChinhNews2(0))" [news]="getTinChinhNews2(0)"
                               [now]="now">
                </app-news-card>

            </div>
            <div class="col-md-4 col-xs-12">

                <app-news-card-2 [image]="getTinChinhNewsImage(getTinChinhNews2(1))" [news]="getTinChinhNews2(1)"
                                 [now]="now">
                </app-news-card-2>

            </div>
            <div class="col-md-4 col-xs-12">

                <app-news-card-2 [image]="getTinChinhNewsImage(getTinChinhNews2(2))" [news]="getTinChinhNews2(2)"
                                 [now]="now">
                </app-news-card-2>

            </div>
        </div>

        <div class="col-md-4 col-xs-12">

            <app-news-card-3 [image]="getTinChinhNewsImage(getTinChinhNews2(3))" [news]="getTinChinhNews2(3)"
                             [now]="now">
            </app-news-card-3>

        </div>

        <div class="col-md-4 col-xs-12">

            <app-news-card-3 [image]="getTinChinhNewsImage(getTinChinhNews2(4))" [news]="getTinChinhNews2(4)"
                             [now]="now">
            </app-news-card-3>

        </div>

        <div class="col-md-4 col-xs-12">

            <app-news-card-3 [image]="getTinChinhNewsImage(getTinChinhNews2(5))" [news]="getTinChinhNews2(5)"
                             [now]="now">
            </app-news-card-3>

        </div>

        <!--end:phan 7 card tin tuc chinh tren trang chu-->

        <ng-container *ngFor="let news of getTinChinhNewsList(); let newsIndex = index">

            <ng-container *ngIf="(newsIndex % 10 < 6)">
                <hr class="col-md-12"/>

                <app-news-card-4 [image]="getTinChinhNewsImage(news)" [news]="news" [now]="now">
                </app-news-card-4>
            </ng-container>

            <ng-container *ngIf="(newsIndex % 10 >= 6)">

                <app-news-card-5 [image]="getTinChinhNewsImage(news)" [news]="news" [now]="now">
                </app-news-card-5>

            </ng-container>

        </ng-container>

    </div>
    <!--phan tin tuc chinh:end-->

    <!--phan loading cho tin chinh-->
    <div *ngIf="isLoadingTinChinh()" class="col-sm-7 col-md-7">

        <div class="col-md-12 nopadding" style="background: #fff">

            <div class="col-md-8 fake-cusor">
                <app-news-loading-card></app-news-loading-card>
            </div>

            <div class="col-md-4">
                <app-news-loading-card-2></app-news-loading-card-2>
            </div>

            <div class="col-md-4">
                <app-news-loading-card-2></app-news-loading-card-2>
            </div>
        </div>

        <div class="col-md-4">
            <app-news-loading-card-3></app-news-loading-card-3>
        </div>

        <div class="col-md-4">
            <app-news-loading-card-3></app-news-loading-card-3>
        </div>

        <div class="col-md-4">
            <app-news-loading-card-3></app-news-loading-card-3>
        </div>

        <hr class="col-md-12"/>

        <app-news-loading-card-4></app-news-loading-card-4>

        <hr class="col-md-12"/>

        <app-news-loading-card-4></app-news-loading-card-4>

    </div>
    <!--phan loading cho tin chinh:end-->

    <div class="col-sm-3 col-md-3 border-radius-fix" style="background: #fff">

        <div class="col-md-12" style="margin-top: 8px;">
            <ul class="nav nav-pills nav-pills-square">
                <li class="active">
                    <a href="#pill1" data-toggle="tab">Tin mới</a>
                </li>
                <li>
                    <a href="#pill2" data-toggle="tab">Tin nóng</a>
                </li>
            </ul>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="pill1">
                    <ng-container *ngIf="isLoadingTinNoiBat()">
                        <app-news-loading-card-6></app-news-loading-card-6>
                        <app-news-loading-card-6></app-news-loading-card-6>
                        <app-news-loading-card-6></app-news-loading-card-6>
                        <app-news-loading-card-6></app-news-loading-card-6>
                        <app-news-loading-card-6></app-news-loading-card-6>
                    </ng-container>

                    <ng-container *ngIf="!isLoadingTinNoiBat()">
                        <ng-container *ngFor="let news of getTinNoiBatNewsList();">
                            <app-news-card-6 [image]="getTinNoiBatNewsImage(news)" [news]="news" [now]="now">
                            </app-news-card-6>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" id="pill2">
                    <ng-container *ngIf="isLoadingTinNong()">
                        <app-news-loading-card-6></app-news-loading-card-6>
                        <app-news-loading-card-6></app-news-loading-card-6>
                        <app-news-loading-card-6></app-news-loading-card-6>
                        <app-news-loading-card-6></app-news-loading-card-6>
                        <app-news-loading-card-6></app-news-loading-card-6>
                    </ng-container>

                    <ng-container *ngIf="!isLoadingTinNong()">
                        <ng-container *ngFor="let news of getTinNongNewsList();">
                            <app-news-card-6 [image]="getTinNongNewsImage(news)" [news]="news" [now]="now">
                            </app-news-card-6>
                        </ng-container>
                    </ng-container>
                </div>

            </div>
        </div>

        <hr class="col-md-12"/>

        <h5 style="font-weight: bold;margin-bottom: 0px;">Thời sự</h5>

        <hr class="col-md-12"/>

        <ng-container *ngIf="isLoadingThoiSu()">
            <app-news-loading-card-6></app-news-loading-card-6>
            <app-news-loading-card-6></app-news-loading-card-6>
            <app-news-loading-card-6></app-news-loading-card-6>
            <app-news-loading-card-6></app-news-loading-card-6>
            <app-news-loading-card-6></app-news-loading-card-6>
        </ng-container>

        <ng-container *ngIf="!isLoadingThoiSu()">
            <ng-container *ngFor="let news of getThoiSuNewsList();">
                <app-news-card-6 [image]="getThoiSuNewsImage(news)" [news]="news" [now]="now">
                </app-news-card-6>
            </ng-container>
        </ng-container>

        <hr class="col-md-12"/>

        <h5 style="font-weight: bold;margin-bottom: 0px;">Video</h5>

        <hr class="col-md-12"/>

        <ng-container *ngIf="isLoadingVideo()">
            <app-news-loading-card-6></app-news-loading-card-6>
            <app-news-loading-card-6></app-news-loading-card-6>
            <app-news-loading-card-6></app-news-loading-card-6>
            <app-news-loading-card-6></app-news-loading-card-6>
            <app-news-loading-card-6></app-news-loading-card-6>
        </ng-container>

        <ng-container *ngIf="!isLoadingVideo()">
            <ng-container *ngFor="let news of getVideoNewsList();">
                <app-news-card-video-small [image]="getVideoNewsImage(news)" [news]="news" [now]="now">
                </app-news-card-video-small>
            </ng-container>
        </ng-container>

        <hr class="col-md-12"/>

        <div class="col-md-12 nopadding">
            <ul class="nav nav-pills nav-pills-warning">
                <li class="active">
                    <a href="#pillThoiTiet" data-toggle="tab">BTC</a>
                </li>
                <li>
                    <a href="#pillGiaVang" data-toggle="tab">Giá vàng</a>
                </li>
                <li>
                    <a href="#pillSoSo" data-toggle="tab">Ngoại tệ</a>
                </li>
            </ul>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="pillThoiTiet">
                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <iframe id="fr75" style="border: none;width:100%"
                                src="//www.tygia.com/api.php?column=2&amp;title=0&amp;chart=1&amp;gold=0&amp;rate=1&amp;expand=2&amp;color=284C84&amp;nganhang=Crypto&amp;fontsize=80&amp;change=2&amp;limit_rate=100&amp;ngoaite=BTC"
                                width="300" height="900"></iframe>
                    </div>
                </div>
                <div class="tab-pane" id="pillGiaVang">
                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <iframe id="fr5" style="border: none;"
                                src="//www.tygia.com/api.php?column=1&amp;title=0&amp;chart=0&amp;gold=1&amp;rate=1&amp;expand=0&amp;color=1D4C75&amp;nganhang=VIETCOM&amp;ngoaite=usd,jpy,chf,eur,gbp,aud&amp;fontsize=80&amp;change=0"
                                width="300" height="400"></iframe>
                    </div>
                </div>
                <div class="tab-pane" id="pillSoSo">
                    <div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
                        <iframe id="fr2" style="border: none;"
                                src="//www.tygia.com/api.php?column=1&amp;title=0&amp;chart=0&amp;gold=0&amp;rate=1&amp;expand=1&amp;color=aa1111&amp;nganhang=VIETCOM&amp;fontsize=80&amp;ngay="
                                width="300" height="400"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <hr class="col-md-12"/>

    </div>
    <div class="col-sm-1 col-md-1">
    </div>
</div>
