<div class="page-header header-filter header-small" data-parallax="true"
     [style.background-image]="'url(' + getTinChinhNewsImage(fixedTinChinhNews2)?.url + ')'">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <h3 class="title no-margin">{{fixedTinChinhNews2?.title}}</h3>

                <h4>{{fixedTinChinhNews2?.description}}</h4>

                <div>

                    <a class="source-news">{{fixedTinChinhNews2?.rssSourceGroupTitle}}</a>

                    <span class="time-news-title">{{fixedTinChinhNews2?.pubDate | displayNewsTime : now}}</span>

                    <!--<a class="relate-news" href="/tin-lien-quan/t/6458801.epi ">1 liên quan</a>-->

                </div>

                <br/>

                <a [href]="fixedTinChinhNews2?.link" target="_blank" class="btn btn-danger btn-lg">
                    <i class="fa fa-eye"></i> Chi tiết
                </a>

            </div>

            <div class="col-md-6"></div>

        </div>

    </div>

</div>

<div class="section-space"></div>

<div class="col-md-12 change-background-web-page">

    <div class="col-sm-1 col-md-1"></div>

    <!--phan tin tuc chinh-->
    <div *ngIf="!isLoadingTinChinh()" infinite-scroll class="col-sm-7 col-md-7" (scrolled)="showMore()"
         [infiniteScrollDistance]="1">

        <!--phan 7 card tin tuc chinh tren trang chu-->
        <div class="col-md-12 nopadding" style="background: #fff">
            <div class="col-md-8 fake-cusor">

                <app-news-card [image]="getTinChinhNewsImage(getTinChinhNews2(0))" [news]="getTinChinhNews2(0)"
                               [now]="now">
                </app-news-card>

            </div>
            <div class="col-md-4 col-xs-12">

                <app-news-card-2 [image]="getTinChinhNewsImage(getTinChinhNews2(1))" [news]="getTinChinhNews2(1)"
                                 [now]="now">
                </app-news-card-2>

            </div>
            <div class="col-md-4 col-xs-12">

                <app-news-card-2 [image]="getTinChinhNewsImage(getTinChinhNews2(2))" [news]="getTinChinhNews2(2)"
                                 [now]="now">
                </app-news-card-2>

            </div>
        </div>

        <div class="col-md-4 col-xs-12">

            <app-news-card-3 [image]="getTinChinhNewsImage(getTinChinhNews2(3))" [news]="getTinChinhNews2(3)"
                             [now]="now">
            </app-news-card-3>

        </div>

        <div class="col-md-4 col-xs-12">

            <app-news-card-3 [image]="getTinChinhNewsImage(getTinChinhNews2(4))" [news]="getTinChinhNews2(4)"
                             [now]="now">
            </app-news-card-3>

        </div>

        <div class="col-md-4 col-xs-12">

            <app-news-card-3 [image]="getTinChinhNewsImage(getTinChinhNews2(5))" [news]="getTinChinhNews2(5)"
                             [now]="now">
            </app-news-card-3>

        </div>
        <!--end:phan 7 card tin tuc chinh tren trang chu-->

        <ng-container *ngFor="let news of getTinChinhNewsList(); let newsIndex = index">

            <ng-container *ngIf="(newsIndex % 10 < 6)">
                <hr class="col-md-12"/>

                <app-news-card-4 [image]="getTinChinhNewsImage(news)" [news]="news" [now]="now">
                </app-news-card-4>
            </ng-container>

            <ng-container *ngIf="(newsIndex % 10 >= 6)">

                <app-news-card-5 [image]="getTinChinhNewsImage(news)" [news]="news" [now]="now">
                </app-news-card-5>

            </ng-container>

        </ng-container>

    </div>
    <!--phan tin tuc chinh:end-->

    <!--phan loading cho tin chinh-->
    <div *ngIf="isLoadingTinChinh()" class="col-sm-7 col-md-7">

        <div class="col-md-12 nopadding" style="background: #fff">

            <div class="col-md-8 fake-cusor">
                <app-news-loading-card></app-news-loading-card>
            </div>

            <div class="col-md-4">
                <app-news-loading-card-2></app-news-loading-card-2>
            </div>

            <div class="col-md-4">
                <app-news-loading-card-2></app-news-loading-card-2>
            </div>
        </div>

        <div class="col-md-4">
            <app-news-loading-card-3></app-news-loading-card-3>
        </div>

        <div class="col-md-4">
            <app-news-loading-card-3></app-news-loading-card-3>
        </div>

        <div class="col-md-4">
            <app-news-loading-card-3></app-news-loading-card-3>
        </div>

        <hr class="col-md-12"/>

        <app-news-loading-card-4></app-news-loading-card-4>

        <hr class="col-md-12"/>

        <app-news-loading-card-4></app-news-loading-card-4>

    </div>
    <!--phan loading cho tin chinh:end-->

    <div class="col-sm-3 col-md-3" style="background: #fff">

        <!--Hien thi card dang slider tu dong  -->
        <!--<app-new-card-carousel></app-new-card-carousel>-->

        <!--Hien thi tin tuc - Tin nong-->
        <h5 style="font-weight: bold;margin-bottom: 0px;">Tin nóng</h5>

        <hr class="col-md-12"/>

        <ng-container *ngFor="let news of getTinNongNewsList();">
            <app-news-card-6 [image]="getTinNongNewsImage(news)" [news]="news" [now]="now">
            </app-news-card-6>
        </ng-container>

        <!--Hien thi tin tuc  - Dang video -->
        <h5 style="font-weight: bold;margin-bottom: 0px;">Video nóng trong ngày</h5>

        <hr class="col-md-12"/>

        <ng-container *ngFor="let news of getVideoNewsList();">
            <app-news-card-video-small [image]="getVideoNewsImage(news)" [news]="news" [now]="now">
            </app-news-card-video-small>
        </ng-container>

        <hr class="col-md-12"/>

        <div class="col-md-12 nopadding">

            <app-tin-tuc-phu></app-tin-tuc-phu>

        </div>

        <hr class="col-md-12"/>

    </div>

    <div class="col-sm-1 col-md-1">

    </div>
</div>

