news-card-2 {

}

.col {
  padding: 4px 8px 4px 0px;
}

ion-card img{
  border-radius: 5px;
  min-height: 80px;
}

.card-md h2, .card-ios h2 {
  margin: 2px 0;
  font-weight: bold;
  color: #3C4858;
  font-size: 1.8rem !important;
  font-family: 'Quicksand', sans-serif;
}


.card-md, .card-ios{
  box-shadow: unset;
}

.content-md hr, .content-ios hr{
  border-top: 1px solid #ddd;
  border-bottom: 0px;
  margin-left: 16px;
  margin-right: 16px;
}

.content-md hr , .content-ios hr {
  height: 0.55px;
  background-color: rgba(45, 45, 45, 0);
}
