
<footer class="footer footer-black footer-big ">
  <div class="container ">

    <div class="content ">
      <div class="row ">
        <div class="col-md-4 ">
          <h5>Công ty</h5>
          <p>
            Giấy phép số 0000/GP-TTĐT do Sở Thông tin và Truyền thông Hà Nội cấp ngày 00/00/2018
            Đơn vị chủ quản: Công ty Cổ phần Công nghệ ... * Chịu trách nhiệm: ...
            Địa chỉ: ...
            Tel: ... ext. .... contact....

            AZNEWS tổng hợp và sắp xếp các thông tin tự động
            bởi chương trình máy tính
          </p>
        </div>

        <div class="col-md-4 ">
          <h5>Liên hệ chúng tôi</h5>
          <div class="social-feed ">
            <div class="feed-line ">
              <i class="fa fa-twitter "></i>
              <p>BAODIENTUVN.twitter</p>
            </div>
            <div class="feed-instagram">
              <i class="fa fa-instagram "></i>
              <p>BAODIENTUVN.instagram</p>
            </div>
            <div class="feed-line ">
              <i class="fa fa-facebook-square "></i>
              <p>BAODIENTUVN.facebook</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <h5>Liên hệ quảng cáo</h5>
          <p>
            Liên hệ quảng cáo: Admicro
            Hotline hỗ trợ quảng cáo: 0942 86 11 33
            Email: giaitrixahoi@admicro.vn
            Hỗ trợ & CSKH: Admicro
            Address: Tầng 20, Tòa nhà Center Building - Hapulico Complex, Số 1 Nguyễn Huy Tưởng, Thanh Xuân, Hà Nội.
          </p>

        </div>
      </div>
    </div>


    <hr />

    <ul class="pull-left ">
      <li>
        <a href="#pablo ">
          TRANG CHỦ
        </a>
      </li>
      <li>
        <a href="#pablo ">
          VIDEO
        </a>
      </li>
      <li>
        <a href="#pablo ">
          CHỦ ĐỀ NÓNG
        </a>
      </li>
      <li>
        <a href="#pablo ">
          THƯ GIÃN
        </a>
      </li>
      <li>
        <a href="#pablo ">
          RSS
        </a>
      </li>
    </ul>

    <div class="copyright pull-right ">
      Copyright &copy;
      <script>document.write(new Date().getFullYear())</script> Creative Tim All Rights Reserved.
    </div>
  </div>
</footer>
