
<footer class="footer footer-black footer-big ">
  <div class="container ">

    <div class="content ">
      <div class="row ">
        <div class="col-md-4 ">
          <h5>Công ty</h5>
          <p>

            Báo đê báo đê tổng hợp và sắp xếp các thông tin tự động
            bởi chương trình máy tính
          </p>
        </div>

        <div class="col-md-4 ">
          <h5>Liên hệ chúng tôi</h5>
          <div class="social-feed ">
            <div class="feed-line ">
              <i class="fa fa-twitter "></i>
              <p>baodebaode.twitter</p>
            </div>
            <div class="feed-instagram">
              <i class="fa fa-instagram "></i>
              <p>baodebaode.instagram</p>
            </div>
            <div class="feed-line ">
              <i class="fa fa-facebook-square "></i>
              <p>baodebaode.facebook</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <h5>Liên hệ</h5>
          <p>
            Liên hệ : <br />
            Hotline hỗ trợ :  <br />
            Email: baodebaode@gmail.com.vn  <br />
            Hỗ trợ & CSKH: Boot  <br />
            Address: ....
          </p>

        </div>
      </div>
    </div>


    <hr />

    <ul class="pull-left ">
      <li>
        <a href="#pablo ">
          TRANG CHỦ
        </a>
      </li>
      <li>
        <a href="#pablo ">
          VIDEO
        </a>
      </li>
      <li>
        <a href="#pablo ">
          CHỦ ĐỀ NÓNG
        </a>
      </li>
      <li>
        <a href="#pablo ">
          THƯ GIÃN
        </a>
      </li>
      <li>
        <a href="#pablo ">
          RSS
        </a>
      </li>
    </ul>

    <div class="copyright pull-right ">
      Copyright &copy;
      <script>document.write(new Date().getFullYear())</script> Creative Tim All Rights Reserved.
    </div>
  </div>
</footer>
