<div class="card card-plain card-blog hover-element-type">
    <a [href]="news | redirectLink" target="_blank">
        <div id="container123" class="col-md-3" style="padding-left: 0px">
            <div class="card-image">
                <a [href]="news | redirectLink" target="_blank">
                    <img class="img img-raised img-content-card-4 cover-img"
                         [src]="image?.url || 'assets/img/image_news.jpg'"/>
                </a>
                <span class="label label-confix-content-video" *ngIf="news.typeContent == 'video'"><i
                        class="fa fa-play-circle-o fa-2x"></i></span>
            </div>
        </div>
    </a>
    <div class="col-md-9 social-networking">
        <div class="col-md-12 social-networking-title">
            <h5 class="card-title" style="margin-bottom: 0px">
                <a [href]="news | redirectLink" class="font-baode-big" target="_blank">{{news?.title}}</a>
            </h5>
        </div>

        <div class="col-md-12">
            <a href="#pablo" class="source-news">{{news?.rssSourceGroupTitle}} - {{news?.pubDate | displayNewsTime :
                now}}</a>
        </div>

        <p class="col-md-12 card-description text-dark">
            <a class="fixed-color-description-m font-baode-description" target="_blank">
                {{news?.description}}
            </a>
        </p>
    </div>

    <div class="affect-on-div" [@readyStateChanged]="readyState"></div>

</div>