<div class="card card-plain card-blog">

    <div class="col-md-3" style="padding-left: 0px">
        <div class="card-image">
            <a href="#pablo">
                <img class="img img-raised" [src]="image?.url"/>
            </a>
            <span class="label label-danger label-confix-content">{{news?.rssSourceGroupTitle}}</span>
        </div>
    </div>
    <div class="col-md-9 social-networking">
        <div class="col-md-8 social-networking-title">
            <h5 class="card-title" style="margin-bottom: 0px">
                <a href="#pablo">{{news?.title}}</a>
            </h5>
        </div>

        <div class="col-md-4 card-title social-networking-content" style="text-align: right;">
            <a href="#pablo" class="btn btn-just-icon btn-basic btn-simple btn-social-confix">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-basic btn-simple btn-social-confix">
                <i class="fa fa-google"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-basic btn-simple btn-social-confix">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-basic btn-simple btn-social-confix">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-basic btn-simple btn-social-confix">
                <i class="fa fa-star"></i>
            </a>
        </div>

        <div class="col-md-12">
            <a href="#pablo" class="source-news">{{news?.rssSourceGroupTitle}} - {{news?.pubDate | displayNewsTime : now}}</a>
        </div>

        <p class="col-md-12 card-description text-dark">
            {{news?.description}}
        </p>
    </div>
</div>