<ion-header>

  <ion-navbar>

    <ion-title>{{ category?.title }}</ion-title>

  </ion-navbar>

</ion-header>

<ion-content no-padding>

  <ion-refresher (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ng-container *ngFor="let news of newsList; let newsIndex = index">

      <ng-container *ngIf="newsIndex == 0; then mainNews else otherNews">
      </ng-container>

      <ng-template #mainNews>

        <news-card-1 [news]="news" [image]="getImage(news)" [now]="now"></news-card-1>

      </ng-template>

      <ng-template #otherNews>

        <news-card-2 [news]="news" [image]="getImage(news)" [now]="now"></news-card-2>

      </ng-template>

    </ng-container>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreNews($event)">

    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>

  </ion-infinite-scroll>

</ion-content>
