<div class="col-sm-12 card-content padding-left-fix-7px padding-bottom-fix-size">
    <div class="row ">
        <div class="col-md-3">
            <div class="">
                <div class="animationLoading img-flash-link">
                    <div id="container">
                        <div id="one"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="four" style="height: 10px; top: 5px;"></div>
            <div id="five" style="height: 10px; top: 10px;"></div>
        </div>
    </div>
</div>