<div class="card card-plain card-blog">
    <a [href]="news | redirectLink" target="_blank">
        <div class="card-image">

            <a [href]="news | redirectLink" target="_blank" class="min-height-20vh">
                <img class="img img-raised img-content cover-img" [src]="image?.url || 'assets/img/image_news.jpg'"
                     width="500" height="400"/>
            </a>

            <span class="label label-confix-content">{{news?.rssSourceGroupTitle}} {{news?.pubDate | displayNewsTime : now}}</span>

            <div class="card-title fix-font-size-title underline-title">
                <a [href]="news | redirectLink" target="_blank"> {{news?.title}}</a>
            </div>
        </div>

        <div class="affect-on-div" [@readyStateChanged]="readyState"></div>
    </a>
</div>