<div class="card card-plain card-blog" (click)="viewNewsDetail($event)">
    <div class="card-image">

        <a [href]="news | redirectLink" class="min-height-20vh">
            <img class="img img-raised img-content cover-img" [src]="image?.url" width="500" height="400"/>
        </a>

        <span class="label label-confix-content">{{news?.rssSourceGroupTitle}} {{news?.pubDate | displayNewsTime : now}}</span>

        <div class="card-title fix-font-size-title underline-title">
            <a [href]="news | redirectLink"> {{news?.title}}</a>
        </div>
    </div>

    <div class="affect-on-div" [@readyStateChanged]="readyState"></div>
</div>