<div class="card card-plain card-blog opacity-affect">
    <div class="card-image">

        <a href="#pablo" class="min-height-20vh">
            <img class="img img-raised img-content" [src]="image?.url" width="500" height="400"/>
        </a>

        <span class="label label-confix-content">{{news?.rssSourceGroupTitle}} {{news?.pubDate | displayNewsTime : now}}</span>

        <div class="card-title fix-font-size-title underline-title">
            {{news?.title}}
        </div>
    </div>
</div>