<div class="card card-plain card-blog">
    <div class="card-image fixed-border-m" style="min-height: 80px;">
        <a [href]="news | redirectLink" target="_blank">
            <img class="img img-raised img-content-md-3 fixed-img-m cover-img fixed-border-m" [src]="image?.url || 'assets/img/image_news.jpg'" width="335" height="214"/>
        </a>
    </div>

    <div class="card-content fixed-padding-card-3-m">
        <h4 class="card-title fixed-font-m">
            <a [href]="news | redirectLinkMobile" target="_blank">{{news?.title}}</a>
        </h4>
    </div>

    <div class="affect-on-div" [@readyStateChanged]="readyState"></div>
</div>