<div class="col-md-12 card-blog nopadding">
  <!-- Carousel Card -->
  <div class="card-carousel" style="padding-bottom: 10px">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item hover-element-type active">
            <div class="animationLoading img-content">
              <div id="container">
                <div id="one"></div>
                <div id="two"></div>
                <div id="three"></div>
              </div>
              <div id="four"></div>
              <div id="five"></div>
              <div id="six"></div>
            </div>
            <div class="carousel-caption">
              <h4>
                <i class="material-icons">location_on</i> Yellowstone National Park, United
                States</h4>
            </div>
            <span class="label label-confix-content-video"><i class="fa fa-play-circle-o fa-2x"></i></span>
          </div>
          <div class="item hover-element-type img-content">
            <img src="https://www.gannett-cdn.com/-mm-/5494bd34e43fd11e356a584b68d087ad53524129/c=607-0-5587-3744&r=x404&c=534x401/local/-/media/2018/06/13/USATODAY/USATODAY/636645111678692526-XXX-IMG-1-SPACE-NEEDLE-ON-TH-1-1-VTM2KRS2.JPG"
                 alt="Awesome Image" class="">
            <div class="carousel-caption">
              <h4>
                <i class="material-icons">location_on</i> Somewhere Beyond, United States</h4>
            </div>
            <span class="label label-confix-content-video"><i class="fa fa-play-circle-o fa-2x"></i></span>
          </div>
          <div class="item img-content">
            <img src="https://www.gannett-cdn.com/-mm-/5494bd34e43fd11e356a584b68d087ad53524129/c=607-0-5587-3744&r=x404&c=534x401/local/-/media/2018/06/13/USATODAY/USATODAY/636645111678692526-XXX-IMG-1-SPACE-NEEDLE-ON-TH-1-1-VTM2KRS2.JPG"
                 alt="Awesome Image" class="">
            <div class="carousel-caption">
              <h4>
                <i class="material-icons">location_on</i> Yellowstone National Park, United
                States</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Carousel Card -->

</div>