<div class="col-md-12">
  <div class="card card-plain card-blog">

    <div class="col-md-4 col-xs-4" style="padding-left: 0px">
      <div class="card-image">
        <div class="animationLoading img-content-md-3-loading-m">
          <div id="container">
            <div id="one" style="height: 30px; width: 30px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-xs-8 social-networking">

      <div class="col-md-8 social-networking-title">
        <h5 class="card-title" style="margin-bottom: 0px">
        </h5>
      </div>

      <div class="col-md-4 card-title social-networking-content" style="text-align: right;">
      </div>

      <div class="col-md-12">
      </div>

      <div id="four" style="height: 10px; top: 5px;"></div>
      <div id="five" style="height: 10px; top: 10px;"></div>
    </div>
  </div>
</div>