<nav class="navbar navbar-rose navbar-transparent navbar-fixed-top navbar-color-on-scroll fixed-header-m"
     color-on-scroll="100">

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle fixed-padding-m" data-toggle="collapse"
                    data-target="#navigation-example" #navbarToggleButton>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand fixed-padding-m fixed-height-m"
               (click)="viewTinChinhTopic($event)"><i class="material-icons fixed-material-icon">home</i>
            </a>

            <a class="navbar-brand fixed-padding-m fixed-height-m fixed-button-active-m"
               (click)="viewTinNongTopic($event)">NÓNG
            </a>

            <a class="navbar-brand fixed-padding-m fixed-height-m" (click)="viewTinMoiTopic($event)">MỚI</a>

            <a class="navbar-brand fixed-padding-m fixed-height-m" (click)="viewVideoTopic($event)">VIDEO</a>

        </div>

        <div class="collapse navbar-collapse" #navbarMenu>
            <ul class="nav navbar-nav">

                <!--<li class="hover-element-li">-->
                <!--<div class="fixed-input-m">-->
                <!--<input type="text" class="form-control" placeholder="Nhập thông tin tìm kiếm...">-->
                <!--</div>-->
                <!--</li>-->

                <ng-container *ngFor="let category of getCategories(null)">

                    <ng-container *ngIf="isHasSubCategories(category); then menuHasSubMenus else menu">
                    </ng-container>

                    <ng-template #menuHasSubMenus>

                        <li class="dropdown hover-element-li" (click)="parentMenuClicked($event, category)">

                            <a class="dropdown-toggle">
                                {{category.title}} <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu dropdown-with-icons">

                                <li *ngFor="let subCategory of getCategories(category)"
                                    (click)="childMenuClicked($event, subCategory)">

                                    <a>{{subCategory.title}}</a>

                                </li>

                            </ul>
                        </li>

                    </ng-template>

                    <ng-template #menu>

                        <li class="hover-element-li">
                            <a (click)="singleMenuClicked($event, category)">{{category.title}}</a>
                        </li>

                    </ng-template>

                </ng-container>

                <!--<li class="hover-element-li">-->
                    <!--<a data-toggle="modal" data-target="#loginModal">-->
                        <!--<i class="material-icons">search</i>-->
                    <!--</a>-->
                <!--</li>-->

            </ul>
        </div>
    </div>
</nav>

