<div class="card card-plain card-blog hover-element-type" (click)="viewNewsDetail($event)">
    <div class="card-image card-image-square">

        <a [href]="news | redirectLink" class="min-height-40vh">
            <img class="img img-raised img-big" [src]="image?.url"/>
        </a>

        <span class="label label-confix-content">{{news?.rssSourceGroupTitle}} {{news?.pubDate | displayNewsTime : now}}</span>

        <span class="video-icon" onclick="player.play(); this.parentNode.style.display = 'none'; return false;"></span>

        <div class="card-title fix-font-size-title underline-title" style="right: 15px !important;">
            <a [href]="news | redirectLink" style="font-size: 3.0rem !important; line-height: 3.4rem !important;"> {{news?.title}}</a>
        </div>

    </div>

    <div class="affect-on-div" [@readyStateChanged]="readyState"></div>
</div>
